$fly-tooltip-preffix: '.fly-tooltip';
$fly-tooltip-max-width: 300px;
$fly-tooltip-padding-y-sm: 8px;
$fly-tooltip-padding-x-sm: 16px;
$fly-tooltip-padding-y-md: 8px;
$fly-tooltip-padding-x-md: 16px;
$fly-tooltip-padding-y-lg: 8px;
$fly-tooltip-padding-x-lg: 16px;

#{$fly-tooltip-preffix} {
	position: relative;
	display: inline-block; //Remove it

	&:hover {
		#{$fly-tooltip-preffix}-content {
			visibility: visible;
		}
	}
	&-content {
		background-color: rgba(0, 0, 0, 0.7);
		padding: $fly-tooltip-padding-y-md $fly-tooltip-padding-x-md;
		position: absolute;
		visibility: hidden;
		color: #fff;
		max-width: $fly-tooltip-max-width;
		min-width: $fly-tooltip-max-width;
		border-radius: 2px;

		&-inline {
			white-space: nowrap;
			max-width: auto;
			min-width: auto;
		}
	}
}

// Sizes
// xs
#{$fly-tooltip-preffix} {
	&-content {
		padding: 8px 16px;
	}
}
// sm
// lg

// Animations
// Fade
// Jump
// Scale

// Positions
// Top
// Left
// Bottom
// Right